
body {
  color: rgb(255, 42, 77);
  font-size: 30px;
  background-color: rgb(253, 222, 127);
}

h1 {
  color: purple;
  font-family: 'Zeyada', cursive;
  text-align: center;
}

.quote {
  color: rgb(64, 64, 228);
  font-family: 'Zeyada', cursive;
}

.quote.narrator {
  color: rgb(126, 6, 247);
}

#intro p {
  color: rgb(188, 234, 95);
}

.super-important-omg {
  font-size: 20px;
  background-color: yellow;
}
